/* make all buttons 20 by 20 pixels with white text and green background and a 10 pixel margin */
button.Num {  height: 20px; background: green; color: black;  }

/* make all tags with the "cool" class name have blue text */
.cool { color: blue; }

/* make the button with ID "delete" red */
#delete { background: red; }

div {
	max-width: 700px;
	
	background-color: lightblue;
	margin: 10px;
	padding: 10px;
}

img {
	width: 250px;
	height: 250px;
	padding: 10px;
}
img.graphs{
	width: 300px;
	height: 300px;
	padding: 5px;
}